<main class="main-content position-relative border-radius-lg ">
  <!-- Navbar -->

  <!-- End Navbar -->
  <div class="header">
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
    <br>
    <span>
    <p>Monitor the usage of the platform.
      <button class="printButton" (click)="printChart()" style="float:right; margin-right: 40px;"  >
        <mat-icon>print</mat-icon>
        Print
      </button>
    </p>
  </span>


  </div>

  <hr/>
  <div class="container-fluid py-4" >
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card" style="background-color: rgb(99, 204, 73);">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-uppercase font-weight-bold"style="color: white;">Total Students</p>
                  <h5 style="font-size: 45px; margin-top: 18px; color: white;"class="font-weight-bolder">
                   {{studentscount}}
                  </h5>

                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape" style="color: white;">

                 <mat-icon>school</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4" >
        <div class="card" style="background-color: rgb(245, 98, 72);">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-uppercase font-weight-bold" style="color: white;">No. of Posts</p>
                  <h5 style="font-size: 45px; margin-top: 18px; color: white;"class="font-weight-bolder" >
                    {{postscount}}
                  </h5>

                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape" style="color: white;">
                 <mat-icon>forum</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card" style="background-color: rgb(43, 137, 226);">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-uppercase font-weight-bold" style="color: white;">No. of Comments</p>
                  <h5 style="font-size: 45px; margin-top: 18px; color: white;"class="font-weight-bolder" >
                    {{commentscount}}
                  </h5>

                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape" style="color: white;">
                  <mat-icon> comment</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card" style="background-color: rgb(249, 148, 65);">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-uppercase font-weight-bold" style="color: white;">No. of Moderators</p>
                  <h5 style="font-size: 45px; margin-top: 18px; color: white;"class="font-weight-bolder" >
                    {{userscount}}
                  </h5>

                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape" style="color: white;">
                  <mat-icon>people</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <br>



     <div class="flex-container">

      <div class="flex-item-left">
        <mat-card>
          <p style="font-style: italic; font-size: 10px; color: grey;">Top 10 most used tags</p>
          <canvas #barCanvas class="chartData"></canvas>
          <hr color="red">
        </mat-card>
      </div>
      <div class="flex-item-right">
        <mat-card>
          <p style="font-style: italic; font-size: 10px; color: grey;">Posts made per month</p>
          <canvas #lineCanvas class="chartData"></canvas>
          <hr color="red">
        </mat-card>
      </div>
      <div class="flex-item-bottom">
        <mat-card>
          <p style="font-style: italic; font-size: 10px; color: grey;">Posts that has answer accepted and not yet accepted</p>
          <canvas #doughnutCanvas class="donutData"></canvas>
          <hr color="red">
        </mat-card>
       </div>
    <div class="flex-item-bottom-right">
      <mat-card>
        <p style="font-style: italic; font-size: 10px; color: grey;">Students per program using the application</p>
        <canvas #pieCanvas class="pieData"></canvas>
        <hr color="red">
      </mat-card>
    </div>

    </div>

    <hr/>


    </div>

