<div class="page">
  <div class="page-box p-3 ">
    <mat-icon>question_answer</mat-icon> My Questions
  </div>
  <div class="page-content">
    <div class="search">
      <p>Search Question:</p>
      <mat-form-field appearance="outline">
        <input matInput  [(ngModel)]="searchTerm"  (keyup)="search($event)" placeholder="Ex. Where is .." #input>
      </mat-form-field>
      </div>


        <!--POST BODY-->
          <div class="content" *ngFor="let post of posts$ | filter:searchKey: 'title'">
            <mat-card class="example-card">
            <mat-card-header >
              <span style="font-size: 14px;">
                <span class="subreddit-text"></span>
                <span><a>Posted by {{post.program_fld}} | {{post.fname_fld}} {{post.mname_fld}} {{post.lname_fld}}</a></span>
                <span> - {{post.created_at|date:'MMM d, y h a'}}</span>
                <!-- post.created_at|dateAsAgo //shows Just Now  -->
            </span>
          </mat-card-header>

              <mat-card-title  style=" font-family: 'IBM Plex Sans', sans-serif;">
                  <a>{{post.title}}</a>
              </mat-card-title>

              <mat-card-subtitle >
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip color="" *ngFor="let item of post.tags">
                    {{item.name}}
                  </mat-chip>
                </mat-chip-list>
              </mat-card-subtitle>


            <mat-card-content >
              <p>{{post.description}}</p>
            </mat-card-content>

            <mat-divider></mat-divider>
            <mat-card-actions align="start" >
              <button mat-button color="primary" (click)="goToPost(post.id)"><mat-icon>visibility</mat-icon>  View</button>
              <button mat-button color="accent" (click)="editQuestions(post)" > <mat-icon>edit</mat-icon> Update</button>
              <button mat-button color="warn" (click)="deleteQuestions(post.id)" > <mat-icon>delete</mat-icon>Delete</button>
            </mat-card-actions>
            </mat-card>

        </div>





</div>

