//Rubik, Quicksand
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rubik:wght@400;500&display=swap');

//font-family: 'Roboto Mono', monospace;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

//font-family: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

//font-family: 'IBM Plex Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');

.body{
  margin: 0;
  min-height: 100%;


}

.page{
  color: #ffffff;
  background: #f7f9fa;
  .page-box{
    min-height: 80px;
    background: #1e293b;
    margin: 1;
    font-size: 36px;
    font-family: 'IBM Plex Sans', sans-serif;
  }


}

.page-content{
  min-height: 100%;

  background-color: #f7f9fa;
  color: black;
  font-size: 2rem;

    .mat-form-field {
      font-size: 14px;
      width: 18rem;

    }
    .search{
      margin-left: 1rem;
      margin-top: 20px;
      p{
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
      }
    }

    .content{
    margin-top: 30px;
    margin: 0 15px;
    mat-card{
      border: 1px solid #ccc;
      background-color: #fff;
      box-shadow: none;
      border-left: 7px solid  #fda239;
      margin-bottom: 4px;
    }
    mat-card-header{
      margin-bottom: 10px;
    }

    mat-card-content{
        display: -webkit-box;
        overflow : hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-family: 'IBM Plex Sans', sans-serif;
        color: #878A8C;
    }
    mat-card-subtitle{

        .tags-chip{
          color: #1e293b;
          background-color: #a0d7ff;
          font-family: 'IBM Plex Sans', sans-serif;
          border-radius: none;
        }
    }
  }

}

@media only screen and (max-width: 758px) {
  .search{
  .mat-form-field{
    font-size: 14px;
    width: 97%;
  }}
  .vote{
    display: none;
  }
}

//POST
.post{
  --post-line-color: #ccc;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgba(255,255,255,0.8);
  color: #878A8C;
  margin-left: 5px;
  border-radius: 4px;
  padding:5px;
}

.btnCommments{
  border-radius: 2px solid;
  color: #0a95ff;
  opacity: 1;
  display: inline-flex;
  align-items: center;
}
button.login{
  background-color: #0a95ff;
  color: #ffffff;
  margin-left:1rem;
  border-radius: 5px;
  border-style: none;
  font-family: 'Rubik', sans-serif;
  width: 100px;
  height: 25px;
}
.button:hover{
  background-color:#1f45ad;
  transition: 0.3s;
}

.btnCommments:hover{
  opacity: 0.65;
  cursor: pointer;
}

.post-title{
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500 ;
  opacity: 1;
  color: #1e293b;
}


/*Display about view Questions*/
.subreddit-text{
  font-weight: bold;
}

.post-text{
  margin-top: 10px;
  display: -webkit-box;
  overflow : hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
mat-chip {
  max-width: 200px;
}


/*For Loader */
.loader {
  position: absolute;
  width: 54px;
  height: 54px;
  margin: 0 40%;
  border-radius: 10px;
  margin-top: 30rem;
}

.loader div {
  width: 8%;
  height: 24%;
  background: #fda239;
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}
/*For Loader -end*/




