<h1 mat-dialog-title>{{titleForm}} a Question</h1>

<div mat-dialog-content>
    <form [formGroup]="postForm">
      <label for=""><h1>Title</h1></label>
  <p style="color: #878A8C; font-size: 15px;">Be specific and imagine you're asking a question to another person.</p>
  <mat-form-field appearance="outline">
    <mat-label>Post Title</mat-label>
    <input formControlName="title"  matInput placeholder="e.g. Error for accepting data in MySQL" />
  </mat-form-field>

  <label for=""><h1>Description</h1></label>
  <p style="color: #878A8C; font-size: 15px;">Describe what you tried, what you expected to happen, and what actually resulted. </p>
    <!-- <mat-form-field appearance="fill" >
          <mat-label></mat-label>
              <textarea style="height: 180px;" formControlName="description" matInput placeholder="..." class="form-control" formControlName="description"></textarea>
    </mat-form-field> -->

    <quill-editor
    [modules]="quillConfig"
    placeholder="Enter Text"
    formControlName="description"
    class="form-control"></quill-editor>

    <br>

  <label for=""><h1>Upload an Image</h1></label>
  <p style="color: #878A8C; font-size: 15px;">Upload an example screenshot of the error.</p>
    <div class="form-control">
      <input
          accept="image/*"
          formControlName="photo"
          id="photo"
          type="file"
          class="form-control"
          (change)="onFileChanged($event)"
          />
    <!-- <div *ngIf="f['files'].touched && f['files'].invalid" class="alert alert-danger"></div>-->
      <!-- <div *ngIf="files.errors['required']">File is required.</div> -->

      <!-- <p
        style="color: red; font-size: .8em; margin-top: .5em;"
        [hidden]="postForm.controls.photo.valid ||(postForm.controls.photo.pristine && !submitted)">

        Selecting a file is required.
      </p> -->
    </div>
  <br>

  <img [src]="imageSrc" *ngIf="imageSrc && fileChange" style="height: auto; width:auto;" class="responsive" loading="lazy">
  <img [src]="'https://gordoncollegeweb.com/capAPI/public/'+imageSrc" *ngIf="imageSrc && !fileChange" style="height: auto; width: auto;" class="responsive" loading="lazy">
  <br>


  <label for=""><h1>Tags</h1></label>
  <p style="color: #878A8C; font-size: 15px;">Add up to 3 tags to describe what your question is about. </p>
    <mat-form-field class="example-chip-list" appearance="fill">
      <mat-label>Tags</mat-label>
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
          {{tag.name}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input placeholder="E.g Php..."

               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
    </form>
    <br>
</div>
<div mat-dialog-action [align]="'end'" style="margin-top: 6rem;">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button style="margin-left:8px;" mat-raised-button color="primary" mat-dialog-close (click)="SavePost()">{{actionBtn}}</button>
</div>

