//font-family: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

//font-family: 'IBM Plex Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');

h1{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
}

mat-form-field {
  width: 100%;
  height: 100%;
}

.example-chip-list {
  width: 100%;

}
.responsive{
  max-width: 100%;
  height: auto;
}
