mat-form-field{
  width: 100%;
  margin-left: 8px;
}

.name{
  width: 26.5%;
}
.extName{
  width: 15%;
}
button{
  width: 150px;
  height: 35px;

  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  background: #f33030;
  border-radius: 12px;
  border: none;
  display: inline-flex;
  align-items: center;
  padding-left: 30px;

  cursor: pointer;
}
