<!-- <div class="replies">
  <div class="main">
    <div class="right">
      <div class="detail">
        <span *ngIf="comment.user && comment.user.recno_fld" class="imageData">
          <img [src]="comment.user.recno_fld.profilepic_fld ? (image + comment.user.recno_fld.profilepic_fld) : 'https://cdn-icons-png.flaticon.com/512/149/149071.png'" alt="">
        </span>
        <span *ngIf="!comment.user || !comment.user.recno_fld" class="imageData">
          <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="">
        </span>
        <span class="user">{{comment.user ? comment.user.recno_fld.fname_fld : ''}} {{comment.user ? comment.user.recno_fld.mname_fld || '' : ''}} {{comment.user ? comment.user.recno_fld.lname_fld || '' : ''}}</span>
        <span class="date">at {{comment.created_at|date:'MMM d, y &bull; h a'}}</span>
      </div>
      <div class="comment">
        <p>{{comment.content}}</p>
      </div>
      <a (click)="replyClick()" *ngIf="post_status =='open'" style=" margin-left: 35px; cursor: pointer; font-size: 13px; font-style: system-ui; color: #666869;">
        Reply
      </a>
      <br>
      <app-comment-box [commentdata]="comment" (add)="onAdd($event)" *ngIf="isEditing"></app-comment-box>
    </div>
  </div>
  <br/>
  <app-comment *ngFor="let c of comment.comments" [comment]="c"></app-comment>
</div> -->




<div class="replies">
	<div class="main">

		<div class="right">
			<div class="detail">
        <span *ngIf="comment.user && comment.user.recno_fld" class="imageData"><img [src]="image+comment.user.recno_fld.profilepic_fld"></span>
        <span *ngIf="!comment.user || !comment.user.recno_fld" class="imageData"><img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt=""></span>
        <span class="user">{{comment.user && comment.user.recno_fld ? comment.user.recno_fld.fname_fld + ' ' + (comment.user.recno_fld.mname_fld || '') + ' ' + (comment.user.recno_fld.lname_fld || '') : 'User not found'}}</span>
        <span class="date">at {{comment.created_at|date:'MMM d, y &bull; h a'}}</span>
			</div>

			<div class="comment">
				<p>{{comment.content}}</p>
			</div>

			<a (click)="replyClick()"  style=" margin-left: 35px; cursor: pointer; font-size: 13px; font-style: system-ui; color: #666869;">
        Reply
      </a>
      <br>
      <app-comment-box [commentdata]="comment" (add)="onAdd($event)" *ngIf="isEditing"></app-comment-box>
		</div>
	</div>
	<br/>
	<app-comment *ngFor="let c of comment.comments" [comment]="c"></app-comment>
</div>

      <!-- eto goods din may user not found -->
     <!-- <span *ngIf="comment.user && comment.user.recno_fld" class="imageData"><img [src]="image+comment.user.recno_fld.profilepic_fld"></span>
        <span *ngIf="!comment.user || !comment.user.recno_fld" class="imageData"><img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt=""></span>
        <span class="user">{{comment.user && comment.user.recno_fld ? comment.user.recno_fld.fname_fld + ' ' + (comment.user.recno_fld.mname_fld || '') + ' ' + (comment.user.recno_fld.lname_fld || '') : 'User not found'}}</span>
        <span class="date">at {{comment.created_at|date:'MMM d, y &bull; h a'}}</span> -->


        <!-- Original Code Useful -->
        <!-- <span *ngIf="comment.user.recno_fld.profilepic_fld == null " class="imageData"><img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt=""></span>
        <span *ngIf="comment.user.recno_fld.profilepic_fld" class="imageData"><img [src]="image+comment.user.recno_fld.profilepic_fld"></span>
				<span class="user">{{comment.user.recno_fld.fname_fld}} {{comment.user.recno_fld.mname_fld|| ''}} {{comment.user.recno_fld.lname_fld|| ''}}</span>
				<span class="date">at {{comment.created_at|date:'MMM d, y &bull; h a'}}</span> -->
