
<div class="main-div" >
  <div class="container">
      <div class="img-container">
          <img src="assets/images/dev2dev.png" class="img"/>
          </div>
      <div class="text-container">
        <h1><strong> GC Dev2Dev</strong></h1>
        <p>Gordon College - College of Computer Studies</p>
        <p class="text">V1.0</p>
          </div>
          <br>
  <form class="form-fld" (ngSubmit)="onSubmit($event)"  [formGroup]="frmGroup" ngNativeValidate  >
      <mat-form-field   appearance="outline"
      class="full-width">
      <mat-icon matPrefix>email</mat-icon>
          <mat-label > Email</mat-label>
          <input type="text" #name matInput formControlName="email_add" id="email"  required/>
      </mat-form-field>

      <mat-form-field  appearance="outline"  class="full-width">
          <mat-icon  matPrefix>lock</mat-icon>
          <mat-label> Password</mat-label>
          <input [type]="hide ? 'password' : 'text'" matInput formControlName="pword_fld" id="password" required />
          <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </span>
      </mat-form-field>

      <button  mat-raised-button   type="submit" [disabled]="frmGroup.invalid"  class="button">
          Login
      </button>
      <mat-spinner *ngIf="isLoading" class="spinner" [diameter]="50"></mat-spinner>
      <div class="bottom-p">
      <p>By clicking the login button, you recognize the authority of
        Gordon College to process your personal and sensitive information,
         pursuant to the Gordon College General Privacy Notice and applicable laws.</p>
      </div>
  </form>


<router-outlet> </router-outlet>
</div>
<div class="footer">
  <span> Copyright 2023 &copy; Team Basics </span>
</div>
  </div>



<!-- <div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image" style="background-image: url(assets/images/collab.png);"></div>
    <div class="col-md-8 col-lg-6">

        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-5 mx-auto">
              <div class="logo d-flex flex-row justify-content-between p-2">
              <span >

                <img src="assets/images/logo.png"/>
              </span>
              </div>
              <div class="forms-container">
                <div class="singin-signup">

                <form [formGroup]="frmGroup" (ngSubmit)="onSubmit($event)" class="sign-in-form">
                    <h2 class="title">Welcome Back!</h2>
                    <div class="input-field">
                      <i><mat-icon>person</mat-icon></i>
                      <input type="email" class="form-control"  placeholder="Email" matInput formControlName="email_add" id="email_add"/>
                    </div>
                    <div class="input-field">
                      <i><mat-icon>lock</mat-icon></i>
                      <input type="password" class="form-control"  placeholder="Password"  matInput formControlName="pword_fld"  id="pword_fld" />
                    </div>
                    <input type="submit" value="Login" class="btn solid" />
                </form>

                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div> -->
