@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rubik:wght@400;500&display=swap');

//font-family: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
}

body, input{
  font-family: 'Poppins', sans-serif;
}
.bg-image {
  background-image: url("https://img.freepik.com/premium-photo/modern-building-office-blue-sky-background_35761-198.jpg");
  background-size: cover;
  background-position: center;
}

.logo img{
  display: inline-flex;
  align-items: center;
  margin-top: 6rem;
  height: 150px;
  width: 150px;
  margin-left: 15px;
}

.logo span{
  margin-left: 15px;
}
.container{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  overflow: hidden;
}
.forms-container{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 35%;
  left: 0;
}


.signin-signup{
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 1/2;
}


.title{
  font-size: 50px; //3.0rem
  font-weight: 500;
  color: #1e293b;
  margin-bottom: 20px;
}

.input-field{
  max-width: 480px;
  width: 100%;
  height: 75px;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 .4rem;
}
.input-field i{
  padding-left: 30px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  line-height: 55px;
  color: #acacac;
  font-size: 1.1rem;
}

.input-field input{
  background:none ;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder{
  color: #aaa;
  font-weight: 500;
}
.btn {
  max-width: 450px;
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: #0a95ff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: .3s;
}

.btn:hover{
  background-color: #1f45ad;;
}
