@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rubik:wght@400;500&display=swap');

//font-family: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
}
.login {
  min-height: 100vh;
}


.bg-image {
  background-image: url("https://img.freepik.com/premium-photo/modern-building-office-blue-sky-background_35761-198.jpg");
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-size: 48px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding-bottom: 20px;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  background-color: #0a95ff;
  color: #fffffe;
}
