<p>quest works!</p>

 <!-- Goals card  -->
                <!-- <div class="goals">
                  <mat-card>
                    <mat-card-content>
                      <div class="cardcontent">
                        <img src="assets/images/post-vc.png" class="img-post" >
                        <h2 class="example-h2">Poster</h2>
                        <p>Create post atleast 10 times</p>

                      </div>
                    </mat-card-content>
                    <section class="example-section">
                      <mat-progress-bar
                          class="example-margin"
                          [color]="color"
                          [mode]="mode"
                          [value]="value"
                          [bufferValue]="bufferValue">
                      </mat-progress-bar>
                    </section>
                  </mat-card>
                </div> -->


                <mat-chip-list >

                  <h3>Gain 35 Credit Score = </h3>
                  <mat-chip class="top-chip">Top Developer</mat-chip>
                  <br>
                  <h3>Gain 20 Credit Score = </h3>
                  <mat-chip class="dev-chip"> Developer</mat-chip>
                  <br>
                  <h3>Gain 10 Credit Score = </h3>
                  <mat-chip class="new-chip">New Developer</mat-chip>
                </mat-chip-list>
