<mat-sidenav-container class="sidenav-container" >

  <mat-sidenav #drawer  class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

    <!-- <div class="head">
      <img src="assets/images/logo.png" style="height: 50px; width: 50px;">
      <span >GC Dev2Dev</span>
    </div> -->
    <div class="user">
      <!-- <img [src]="'http://localhost:8000/'+profilepic_fld" style=" width: 100px;
      height: 100px; margin-top: 13px; border-radius: 50%;" > -->

      <img [src]="image+profilepic_fld" style=" width: 100px;
      height: 100px; margin-top: 13px; border-radius: 50%;" loading="lazy">

      <p class="name">{{fname_fld}} {{mname_fld}} {{lname_fld}} </p>
      <p class="mail">{{email_add}}</p>
      <small class="dept">{{dept_fld}}/{{program_fld}}</small>
      <hr />
    </div>

    <div class="menu">
      <div class="menu-head">

      </div>
    </div>
    <div class="menu-item">
    <button mat-button class="menu-button" routerLink="home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" routerLink="all-questions"  routerLinkActive="active">
      <mat-icon>supervised_user_circle</mat-icon>
      <span>Questions</span>
    </button>
    <hr />
    <button mat-button class="menu-button" routerLink="my-questions" routerLinkActive="active">
      <mat-icon>question_answer</mat-icon>
      <span>My Questions</span>
    </button>
    <button mat-button class="menu-button" routerLink="bookmarks" routerLinkActive="active">
      <mat-icon>bookmark</mat-icon>
      <span>Bookmarks</span>
    </button>
    <button mat-button class="menu-button" routerLink="profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
    </button>
    <!-- <button mat-button class="menu-button" routerLink="quest" routerLinkActive="is-active">
      <mat-icon> import_contacts</mat-icon>
      <span>Quest</span>
    </button> -->
    </div>
    <hr />
    <div class="logout">
    <button class="outButton" type="button" (click)="logoutUsers()"><mat-icon>logout</mat-icon>Sign Out</button>
    </div>
  </mat-sidenav>


  <mat-sidenav-content >

    <mat-toolbar>

      <button style="position: relative;" type="button" aria-label="Toggle sidenav"  mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

        <div class="box container h-50" >
          <mat-icon aria-label="">search</mat-icon>
          <input type="text" name="" [(ngModel)]="searchTerm"  (keyup)="search($event)" placeholder="Search..">
        </div>

        <!-- <p style="font-size: 17px; color: white;"class="ms-auto "><small>{{date_today | date: 'fullDate' }}</small></p> -->
    </mat-toolbar>

    <div class="content-container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
