<mat-sidenav-container class="sidenav-container" >

  <mat-sidenav #drawer  class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

    <div class="user">
      <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="">
      <p class="name">{{fname_fld}} {{mname_fld}} {{lname_fld}} </p>
      <p class="mail">{{email_add}}</p>
      <h4 class="dept">{{dept_fld}}/{{program_fld}}</h4>
      <hr />
    </div>

    <div class="menu">
      <div class="menu-head">

      </div>
    </div>
    <div class="menu-item">
    <button mat-button class="menu-button" routerLink="home" routerLinkActive="is-active">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" routerLink="all-questions">
      <mat-icon>supervised_user_circle</mat-icon>
      <span>Questions</span>
    </button>
    <button mat-button class="menu-button" routerLink="my-questions" routerLinkActive="is-active">
      <mat-icon>question_answer</mat-icon>
      <span>My Questions</span>
    </button>
    <button mat-button class="menu-button" routerLink="bookmarks">
      <mat-icon>bookmark</mat-icon>
      <span>Bookmarks</span>
    </button>
    <button mat-button class="menu-button" routerLink="profile" routerLinkActive="is-active">
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
    </button>
    </div>
    <hr />
    <div class="logout">
    <button class="outButton" type="button" (click)="logoutUsers()"><mat-icon>logout</mat-icon>Sign Out</button>
    </div>
  </mat-sidenav>


  <mat-sidenav-content >

    <mat-toolbar>
      <button style="position: relative;" type="button" aria-label="Toggle sidenav"  mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

        <div class="box container h-50" >
          <mat-icon aria-label="">search</mat-icon>
          <input type="text" name="" [(ngModel)]="searchTerm"  (keyup)="search($event)" placeholder="Search..">
        </div>
        <!-- <p style="font-size: 17px; color: white;"class="ms-auto "><small>{{date_today | date: 'fullDate' }}</small></p> -->
    </mat-toolbar>

    <div class="content-container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
