<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
            <div class="page-header d-flex flex-row justify-content-between">
                <div class="text d-flex flex-row justify-content-start">
                  <span>All
                    <br>
                    <br> Questions</span>
                    <div class="total align-self-end">
                      {{total_post}} questions
                    </div>

                </div>

                <div class="add p-2 justify-content-start">

                  <button type="button" color="primary" (click)="openDialog()"> + Ask a Question</button>


              <div class="pager1 ">
                <div class ="d-flex ">
                  <div class="d-flex fd-column ">
                    <label class="flex--item fs-caption">Show </label>
                    <select class="selek"  (change)="onTableSizeChange($event)">
                      <option *ngFor="let size of tableSizes">
                        {{size}}
                      </option>
                  </select>
                  </div>
                </div>
              </div>


                </div>


            </div>
            <!--Loader-->
            <div *ngIf="showLoader" class="loader text-center">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
              <div class="bar4"></div>
              <div class="bar5"></div>
              <div class="bar6"></div>
              <div class="bar7"></div>
              <div class="bar8"></div>
              <div class="bar9"></div>
              <div class="bar10"></div>
              <div class="bar11"></div>
              <div class="bar12"></div>
           </div>
           <!--Loader-->

            <!--POST BODY-->
            <div class="reddit-body">

                <div class="container">
                  <div class="row d-flex justify-content-center">

                    <div class="col-md-6">
                      <div class="row post" *ngFor="let post of posts$ | filter:searchKey: 'title' | paginate: {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count}; let i = index
                        ">

                        <div class="vote col-md-1">
                          <div class="d-flex flex-column votebox">
                            <div class="p-2">
                              Votes
                            </div>
                            <div class="p-2 votecount">{{post.votes}} </div>
                            <div class="p-2">

                            </div>
                        </div>
                        </div>
                        <div class="col-md-11">
                            <span>
                                <span class="subreddit-text"></span>
                                <span><a>Posted by {{post.program_fld}} | {{post.fname_fld}} {{post.mname_fld}} {{post.lname_fld}}  </a>
                                  <span>
                                    <button mat-icon-button [matMenuTriggerFor]="menu" style="float: right;">
                                      <mat-icon>more_horiz</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                      <button mat-menu-item>
                                        <mat-icon>bookmarks</mat-icon>
                                        <span style="font-family: 'Poppins', sans-serif;" (click)="setBookmark(post.id)">Save this post</span>
                                      </button>
                                         <!-- Report -->
                                         <button mat-menu-item>
                                          <mat-icon>flag</mat-icon>
                                          <span style="font-family: 'Poppins', sans-serif;" (click)="reportPost(post.id)">Report</span>
                                          </button>
                                          <!-- Report -->
                                    </mat-menu>
                                  </span></span>
                                <span> - {{post.created_at|dateAsAgo}}</span>
                                <!-- post.created_at|dateAsAgo //shows Just Now  -->



                            </span>
                            <hr />
                            <div class="post-title">
                                <a>{{post.title}}</a>
                            </div>

                            <div class="post-text">
                              <p>{{post.description}}</p>
                            </div>
                            <hr />
                            <mat-chip-list aria-label="Fish selection">
                              <mat-chip class="tags-chip" *ngFor="let item of post.tags">
                                {{item.name}}
                              </mat-chip>
                            </mat-chip-list>
                            <hr />
                            <span>
                                <a >

                                    <fa-icon [icon]="faComments"></fa-icon>
                                    ({{post.commentcount}})  Comments
                                </a>
                                <button class="login" (click)="goToPost(post.id)">
                                    Read Post
                                </button>
                            </span>
                        </div>

                      </div>
                      <br>
                      <div class="pager float-start">
                        <pagination-controls
                        previousLabel = "Prev"
                        nextLabel="Next"
                        (pageChange)="onTableDataChange($event)"
                        >
                        </pagination-controls>
                      </div>


                    </div>
                    <div class="col-md-3" >

                      <div class="sidebar-view-subreddit">
                        <!-- <div style="color: black; font-weight: bold; font-size: 15px; font-family: 'Rubik', sans-serif;">Watched Tags</div>
                        <hr /> -->
                        <h4 class="subreddit-text" style="cursor: pointer;" (click)="filterTag({tags: ''})"><a >Clear Tags</a></h4>
                        <hr />

                        <div class="input-group">
                          <input type = "search" [(ngModel)]="searchKeyTwo" class="form-control rounded col-md-2" placeholder="Search" aria-label="Search">
                          <button type="button" (click)="filterFromSearch()" class="btn btn-primary">search</button>
                        </div>
                        <!-- <span *ngFor="let item of allTags">
                            <span class="subreddit-text" (click)="filterTag(item)"><a >{{item.tags}} ({{item.count}})</a></span>
                            <hr />
                        </span> -->
                        <br>

                        <!-- <mat-chip-list aria-label="Fish selection" >
                          <mat-chip class="tags-chip" style="
                          color: #0095ff;
                          background-color: #a0d7ff;
                          font-family: 'IBM Plex Sans', sans-serif; cursor: pointer;" *ngFor="let item of allTags | filter:searchKeyTwo: 'tags'">
                            <span class="subreddit-text" (click)="filterTag(item)"><a >{{item.tags}} ({{item.count}})</a></span>
                          </mat-chip>
                        </mat-chip-list> -->
                        <div class="container">
                        <span class="tags d-flex flex-wrap" *ngFor="let item of allTags | filter:searchKeyTwo: 'tags'">
                            <span class="badge bg-info " (click)="filterTag(item)"><a>{{item.tags}} ({{item.count}})</a></span>
                        </span>
                      </div>


                    </div>
                      </div>

                  </div>
                </div>
              </div>
            </div>
            </div>




