//Rubik, Quicksand
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rubik:wght@400;500&display=swap');

//font-family: 'Roboto Mono', monospace;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

//font-family: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

//font-family: 'IBM Plex Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');


.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;

}

.example-radio-button {
  margin: 5px;
  font-family: 'Poppins', sans-serif;
}
