<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
            <div class="page-header d-flex flex-row justify-content-between">
                <div class="text d-flex flex-row justify-content-start">
                  <span>Top
                    <br>
                    <br> Questions</span>
                </div>
                <div class="add p-2 align-self-start">
                  <button type="button" color="primary" > + Ask a Question</button>
                </div>
            </div>

            <div class="reddit-body">
                <div class="container">
                  <div class="row d-flex justify-content-center">

                    <div class="col-md-8">
                      <app-post-tile></app-post-tile>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            </div>
