@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rubik:wght@400;500&display=swap');

.page{

    &__content{
        width: 80vh;
        min-height: calc(50vh - 160px);
        // border-radius: 10px;
        background: white;
        color: black;
        font-size: 2rem;

}

}
.page-header{
    margin-top: 1vh;
    height: 130px;
    width: 92vh;
    background-color: #ffffff;
    span{
      font-family: 'Rubik', sans-serif;
      font-size: 30px;
      font-weight: 500;
      margin-top: 1vh;

    }
}
.add{
    button{
      position: relative;
      font-size: 15px;
      color: white;
      background-color: #0a95ff;
      width: 150px;
      height: 45px;
      border-radius: 12px;
      border-color: #002ead;


  }
  button:hover {
      background-color:#1f45ad;
      transition: 0.3s;
  }
}

.question{
    border: none;
}

