@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rubik:wght@400;500&display=swap');

*{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
mat-icon{
    color: rgb(255, 255, 255);
    font-family: 'Material Icons';
    vertical-align: middle;
}
.sidenav-container {
    height: 100%;

}
.mat-sidenav {
    width: 250px;
    background-color: #162341;
    height: 100%;

}
.mat-nav-list{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
.mat-nav-list a{
    padding-bottom: 50px;
}
.mat-nav-list .mat-icon{
    display: inline-flex;
    align-items: center;
    padding-right: 40px;
    size: 20px
}

.sidenav .mat-toolbar{
    background: inherit;
}

.mat-toolbar{
    position: relative; //position: relative;
    top: 0;
    z-index: 1;
    height: 50px;
    box-shadow: -1px 5px 12px -4px rgba(0,0,0,0.68);
}

.user{
    text-align: center;
    font-weight: 800;
    margin-bottom: 50px;
    img{
        margin-top: 16px;
        width: 120px;
        height: 120px;
    }
    .name{
        color: white;
        margin-top: 10px;
    }
    .mail{
        margin-top: -16px;
        color: #8997ac;
    }
}

.menu-head{
    color: #466be0;
    text-transform: uppercase;
    font-weight: 900;
    margin-left: 90px;
    margin-bottom: 20px;
}

.menu-item{

    margin: 0 10px 0 10px;


    .menu-button{
        display: block;
        width: 100%;
        position: relative;
        display: flex;
        padding-left: 40px;
        margin-bottom: 20px;
    }
    .menu-button span{
        margin-left: 15px;
        color: white;
    }
    .menu-button:hover{
        background-color: #6e7da0;
    }
    .menu-button:focus{
        background-color: #6e7da0;
    }
}

.content-container{
    padding: 20px;
    min-height: 95vh;
    background-color: #dae0e6;
}
.outButton{
    margin-top: 320px;
    width: 150px;
    height: 35px;
    margin-left: 45px;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    background: #F44242;
    border-radius: 12px;
    border: none;
    display: inline-flex;
    align-items: center;
    padding-left: 30px;
    position: relative;
}

// mat-sidenav{
//     background-color: #0f172a;
//     width: 230px;
//     height: 100%;
// }
// mat-sidenav-content{
//     height: 100vh;
//     background-color: cadetblue;
// }
