<mat-sidenav-container class="sidenav-container" >

  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

    <div class="user">
      <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="">
      <p class="name">Admin </p>
      <p class="mail">{{email_add}}</p>

      <hr />
    </div>

    <div class="menu">
      <div class="menu-head">
        <span>Catalog</span>
      </div>
    </div>
    <div class="menu-item">
    <button mat-button class="menu-button" routerLink="dashboard">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>
    <!-- <button mat-button class="menu-button" routerLink="studentpost">
      <mat-icon> forum</mat-icon>
      <span>Student Posts</span>
    </button>
    <button mat-button class="menu-button" routerLink="filters">
      <mat-icon>filter_list</mat-icon>
      <span>Filters</span>
    </button> -->

    </div>
    <hr />
    <div class="logout">
    <button class="outButton" type="button" (click)="logoutUsers()"><mat-icon>logout</mat-icon>Sign Out</button>
    </div>
  </mat-sidenav>


  <mat-sidenav-content >

    <mat-toolbar>
      <button style="position: relative; background-color: #f5f5f5;" type="button" aria-label="Toggle sidenav"  mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon" style="color: black; ">menu</mat-icon>
      </button>
      <span>Admin Panel</span>
      <p style="font-size: 18px; color: #9c9a9a;"class="ms-auto p-2"><small>{{date_today | date: 'fullDate' }}</small></p>

    </mat-toolbar>

    <div class="content-container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
