<h1 mat-dialog-title>Privacy Policy for GC Dev2Dev</h1>


<div mat-dialog-content>

<h2>1. Introduction</h2>
<p>At GC Dev2Dev, accessible from https://gordoncollegeweb.com/gc2dev/#/login, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by GC Dev2Dev and how we use it.</p>

<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>

<p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in GC Dev2Dev. This policy is not applicable to any information collected offline or via channels other than this website.</p>

<h2>Consent</h2>

<p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>

<h2>2. Data Collection and Usage</h2>

<h3>2.1 Personal Information</h3>
<p>GC Dev2Dev collects certain personal information from users to provide a personalized experience and maintain the platform's functionality. The information collected may include:</p>
<ul>
  <li>Personal details such as name, birth, gender, civil status and affiliations.</li>
  <li>Contact information such as address, email, mobile and telephone numbers.</li>
  <li>Academic information such as grades, course and academic standing.</li>
  </ul>

  <h3>2.2 Usage Data</h3>
  <p>GC Dev2Dev may collect and analyze usage data, including but not limited to:</p>
  <ul>
    <li>Posts and Comments: Content shared by users within the platform.</li>
    <li>Activity Logs: Records of user actions, such as post creation, comments, and reports.</li>
    <li>Technical Information: Device type, browser, and operating system used to access the platform.</li>
  </ul>

  <h3>2.3 Cookies and Tracking Technologies</h3>
  <p>GC Dev2Dev uses cookies and similar tracking technologies to enhance user experience, personalize content, and analyze platform usage. By using the platform, you consent to the use of cookies as outlined in our Cookie Policy.</p>

  <h2>3. Terms and Policy of Roles</h2>

  <h3>3.1 Admin Rights and Responsibilities</h3>
  <p>The Admin role has the highest level of privileges on GC Dev2Dev. The Admin has the following rights and responsibilities:</p>
  <ul>
    <li>Monitor Platform Activity: The Admin can access and review all platform activities, including posts, comments, and reports.</li>
    <li>Manage Moderators: The Admin has the authority to grant or revoke Moderator access to qualified users.</li>
    <li>Academic information such as grades, course and academic standing;</li>
  </ul>


  <h3>3.2 Moderator Rights and Responsibilities</h3>
  <p>The Moderator role plays a vital role in maintaining the quality and integrity of content on GC Dev2Dev. The Moderator has the following rights and responsibilities:</p>
  <ul>
    <li>Content Moderation: The Moderator can review and moderate posts and comments to ensure compliance with platform guidelines.</li>
    <li>Post Management: The Moderator can request to close posts that are no longer active or have surpassed two weeks of inactivity.</li>
    <li>User Support: The Moderator assists users with questions and issues related to platform usage and guidelines.</li>
  </ul>

  <h3>3.3 Student Rights and Responsibilities</h3>
  <p>As a Student user, you have the following rights and responsibilities:</p>
  <ul>
    <li>Post Creation: Students can create posts to seek answers, share knowledge, and engage with other students.</li>
    <li>Commenting: Students can interact with other students by commenting on their posts, promoting collaboration and knowledge sharing.</li>
    <li>Reporting: Students can report posts or comments that violate platform guidelines or are deemed inappropriate.</li>
  </ul>

<p>In order to maintain a conducive and respectful learning environment, each student user is required to accumulate a minimum of 10 reports. These reports serve as a measure of accountability and ensure the integrity of interactions within the web application.
</p>

<p>Once a student has received 10 reports from other students, it will result in the automatic revocation of their rights to create posts. This measure aims to uphold the quality of content and discourage any disruptive behavior.
</p>

<p>In the event that a student's rights are revoked, we strongly advise them to promptly contact the web application's administrator. The administrator will assess the situation and initiate appropriate actions to address the issue. Discussions regarding the revocation of rights and any necessary consequences will be handled internally, with the utmost fairness and consideration.
</p>

<p>At our institution, we strive to provide a safe and respectful digital space for all users. By adhering to this policy and engaging in responsible online conduct, we can foster a positive and constructive learning community.
</p>

<h2>Storage, Location, Transmission and Transfer of Personal Data</h2>

<p>Personal Data are stored in physical and electronic data processing systems managed by various units and offices of Gordon College. Physical records are generally stored in folders or envelopes in drawers or shelves. Electronic records are generally stored in servers in the possession or control of Gordon College or in cloud storage controlled by Gordon College</p>

<p>Personal Data are transmitted and transferred in accordance with Chapter III of the Data Privacy Act of 2012 and Rule V of its Implementing Rules and Regulations.</p>

<!-- <h2>CCPA Privacy Rights (Do Not Sell My Personal Information)</h2>

<p>Under the CCPA, among other rights, California consumers have the right to:</p>
<p>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</p>
<p>Request that a business delete any personal data about the consumer that a business has collected.</p>
<p>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p> -->

<!-- <h2>GDPR Data Protection Rights</h2>

<p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
<p>The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</p>
<p>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
<p>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</p>
<p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
<p>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>
<p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p> -->


<h2>Changes to This Privacy Policy</h2>

<p>We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.</p>


<h2>Contact Us</h2>

<p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.</p>

<ul>
  <li>Address : Olongapo City Sports Complex, Donor Street, East Tapinac, Olongapo City 2200.</li>
  <li>Phone : (047) 222-4080</li>
  <li>Email : 201910666@gordoncollege.edu.ph</li>
</ul>

</div>
<div mat-dialog-action [align]="'end'" style="margin-top: 1rem;" >
  <button class="close" type="button" mat-dialog-close>Close</button>
</div>
