<div class="post" *ngFor="let post of posts$">
   <!--Loader-->
   <div *ngIf="showLoader" class="loader text-center">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <div class="bar4"></div>
    <div class="bar5"></div>
    <div class="bar6"></div>
    <div class="bar7"></div>
    <div class="bar8"></div>
    <div class="bar9"></div>
    <div class="bar10"></div>
    <div class="bar11"></div>
    <div class="bar12"></div>
 </div>
 <!--Loader-->
  <div class="container h-100">

    <div class="back">
    <button type="button" (click)="goBack()"><span class='material-icons'>arrow_back</span>Back</button>
    </div>

  <div class="row h-100 justify-content-center align-items-center">

    <div class="col-md-9">
      <div class="row post">
        <div class="col-md-1">
          <!-- vote button -->
        </div>
        <div class="col-md-10">
          <span>
            <span>
              <a >Posted by {{post.program_fld}} | {{post.fname_fld}} {{post.mname_fld}} {{post.lname_fld}} </a>
            </span>
            <span>at {{post.created_at|date:'MMM d, y h a'}}</span>
          </span>
          <hr />
          <h4 style="color: black;" class="post-title">{{post.title}}</h4>
          <hr />
          <div>
            <p class="post-text">{{post.description}}</p>

           <img [src]="'http://127.0.0.1:8000/'+post.photo" style="height: auto; width:auto;" class="responsive" >
          </div>

          <hr/>
          <p>Comment as {{fname_fld}} {{mname_fld}} {{lname_fld}} </p>

          <div class="post-comment">

            <form [formGroup]="commentForm" (ngSubmit)="postComment()"> <!--(ngSubmit)="postComment()">-->
              <div class="form-group">
                <textarea style="height: 180px;" class="form-control" [formControlName]="'content'" placeholder="Your Thoughts?"></textarea>
              </div>


              <div class="row button d-flex flex-row justify-content-end ">
              <button type="submit"
              style="position: relative;
              font-size: 15px;
              margin-top: 5px;
              margin-bottom: 5px;
              margin-right: 10px;
              color: white;
              background-color: #0a95ff;
              width: 130px;
              height: 35px;
              border: none;
              border-radius: 12px;"

              class="login float-right">Comment</button>
            </div>
          </form>
          <!-- Yung comment button dapat nakapaloob sa form para gumana -->
          </div>
        </div>

            <hr/>
            <h4 style="font-size: 20px; color: black;">Comments</h4>
            <!--Display Comments-->

            <div class="container2">
            <div class="row comment" *ngFor="let comment of comments">
              <div class="vote col-md-1">
                <div class="d-flex flex-column votebox">
                  <div class="p-2">
                      <fa-icon  class="upvote" [icon]="faArrowUp"></fa-icon>
                  </div>
                  <div class="p-2 votecount">4</div>
                  <div class="p-2">
                      <fa-icon class="downvote" [icon]="faArrowDown">

                      </fa-icon>
                  </div>
              </div>
              </div>
              <div class="col-md-11"> <!--Comment Content-->
              <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="" style="height: 35px; width: 35px; margin-right: 3px; margin-top: 5px;">
              <span>
                <span>
                  <a >{{comment.comments.program_fld}} | {{comment.comments.fname_fld}} {{comment.comments.mname_fld}} {{comment.comments.lname_fld}} </a>
                </span>
                <span> at {{comment.comments.created_at|date:'MMM d, y h a'}}</span>
              </span>

              <div>
                <p style="background-color: #f5f5f5;">{{comment.comments.content}}</p>
              </div>
              <hr> <!--End Comment Content-->
              <span  style="display: flex;
              align-items: center; color: #0a95ff;">
                <mat-icon> comment</mat-icon>
                <a (click)="onClick()">View Replies</a>
              </span>
            <ng-container *ngIf="visible"> <!--Reply Content-->
              <div class="commentReply" *ngFor="let rep of comment.reply">
                <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="" style="height: 35px; width: 35px; margin-right: 3px; margin-top: 5px;">
                <span>
                  <a > {{rep.program_fld}} | {{rep.fname_fld}} {{rep.mname_fld}} {{rep.lname_fld}} </a>
                </span>
                <span> at {{rep.created_at|date:'MMM d, y h a'}}</span>
                <div>
                  <p style="background-color: #f5f5f5;">{{rep.replyContent}}</p>
                </div>
              </div>

              <hr>

              <!--Form for Reply Content-->
              <form [formGroup]="replyForm" (ngSubmit)="replyComment(comment)">
              <div class="reply" >
                <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="" style="height: 30px; width: 30px; margin-right: 3px;">
                <input type="text" name="" class="form-control" [formControlName]="'replyContent'" placeholder="Write a reply..">
                <button type="submit" >Submit</button>
              </div>
            </form> <!--End of Form for Reply Content-->
          </ng-container>
          </div>
        </div>
          <!-- Outside of Comment Div -->
          </div>
        </div>
      </div>
    </div>
  </div>


