<div class="post" *ngFor="let post of posts$">
   <!--Loader-->
   <div *ngIf="showLoader" class="loader text-center">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <div class="bar4"></div>
    <div class="bar5"></div>
    <div class="bar6"></div>
    <div class="bar7"></div>
    <div class="bar8"></div>
    <div class="bar9"></div>
    <div class="bar10"></div>
    <div class="bar11"></div>
    <div class="bar12"></div>
 </div>
 <!--Loader-->
  <div class="container h-100">

    <div class="back ">
      <button type="button" (click)="goBack()"><span class='material-icons'>arrow_back</span>Back</button>
    </div>

  <div class="row h-100 justify-content-center align-items-center">

    <div class="col-md-9">
      <div class="row post">
        <div class="col-md-1">
          <!-- vote button -->
          <!-- <div class="p-2" >
            <mat-icon class="accept done " data-bs-toggle="tooltip" data-bs-placement="top" title="Answer Accepted">done_outline</mat-icon>
          </div> -->
          <div class="p-2" >
            <mat-icon class="accept" data-bs-toggle="tooltip" data-bs-placement="top" title="Mark as answered">done_outline</mat-icon>
          </div>

        </div>
        <div class="col-md-10">
          <span>
            <span>
              <a >Posted by {{post.program_fld}} | {{post.fname_fld}} {{post.mname_fld}} {{post.lname_fld}} </a>

            </span>

            <span>at {{post.created_at|date:'MMM d, y h a'}}</span>

            <!-- <button  type="button" class="btn btn-success">Answered</button> -->
          </span>
          <hr />
          <h4 style="color: black;" class="post-title">{{post.title}}</h4>
          <hr />
          <div>
            <!-- <p class="post-text">{{post.description}}</p> -->
            <!-- <pre><code [innerHTML]="post.description"></code></pre> -->
            <div [innerHTML]="post.description" style="color: black;"></div>

            <!-- <code [innerHTML]="post.description"></code> -->
            <!-- <img [src]="image+post.photo" style="height: auto; width:auto;" class="responsive" > -->
            <!-- <img [src]="'http://127.0.0.1:8000/'+post.photo" style="height: auto; width:auto;" class="responsive" > -->

           <!-- <img [src]="'http://127.0.0.1:8000/'+post.photo" style="height: auto; width:auto;" class="responsive" > -->
           <div  *ngIf="post.photo" class="imageData" style="height: auto; width:auto;" >
            <img [src]="image+post.photo"  class="responsive" loading="lazy">
          </div>
          </div>

          <hr/>
          <p>Comment as {{fname_fld}} {{mname_fld}} {{lname_fld}} </p>

          <div class="post-comment">

            <form [formGroup]="commentForm" (ngSubmit)="postComment()"> <!--(ngSubmit)="postComment()">-->
              <div class="form-group">
                <textarea style="height: 180px;" class="form-control" [formControlName]="'content'" placeholder="Your Thoughts?"></textarea>
              </div>


              <div class="row button d-flex flex-row justify-content-end ">
              <button type="submit"
              style="position: relative;
              font-size: 15px;
              margin-top: 5px;
              margin-bottom: 5px;
              margin-right: 10px;
              color: white;
              background-color: #0a95ff;
              width: 130px;
              height: 35px;
              border: none;
              border-radius: 12px;"

              class="login float-right">Comment</button>
            </div>
          </form>
          <!-- Yung comment button dapat nakapaloob sa form para gumana -->
          </div>
        </div>

        <!-- Von palagay number of comments  -->
            <hr/>
            <h4 style="font-size: 20px; color: black;">Comments</h4>
            <!--Display Comments-->


            <div class="container2">
              <app-comment *ngFor="let c of mycomments | async" [comment]="c"></app-comment>

            <!-- <div class="comment" *ngFor="let comment of comments">
              <div *ngIf="comment === 0" style="font-size: 30px; font-family: 'IBM Plex Sans', sans-serif;"><h4>There are no comments found</h4></div>
              <div class="col-md-11"> Comment Content -->
                <!-- <img [src]="'https://gordoncollegeweb.com/capAPI/public/'+comment.comments.profilepic_fld"  alt="" style="height: 35px; width: 35px; margin-right: 3px; margin-top: 5px; border-radius: 50%; border: 2px solid #878A8C;">
              <span>

                <span>
                  <a>{{comment.comments.program_fld}} | {{comment.comments.fname_fld}} {{comment.comments.mname_fld}} {{comment.comments.lname_fld}}  </a> <a matTooltip="Credit Score"  matTooltipClass="toolTiptip">{{comment.credit}}</a>
                </span>

                <span> at {{comment.comments.created_at|date:'MMM d, y - h a'}}  </span>
              </span>

              <div>
                <p style="background-color: #f7f9fa; font-family: 'Rubik', sans-serif;">{{comment.comments.content}}</p>
              </div>
              <hr> -->
              <!-- <div class="comment-session">
                <div class="post-comment">
                  <div class="list">
                    <div class="user">
                      <div class="user-image"><img [src]="'https://gordoncollegeweb.com/capAPI/public/'+comment.comments.profilepic_fld"  alt=""></div>
                      <div class="user-meta">
                        <div class="name">{{comment.comments.program_fld}} | {{comment.comments.fname_fld}} {{comment.comments.mname_fld}} {{comment.comments.lname_fld}} </div>
                        <div class="day">{{comment.comments.created_at|date:'MMM d, y - h a'}} </div>
                      </div>
                    </div>
                    <div class="comment-post">{{comment.comments.content}}</div>
                  </div>
                </div>
              </div> -->


               <!--End Comment Content-->
              <!-- <span  style="display: flex;
              align-items: center; color: #fda239; cursor: pointer; margin-left: 40px;">
                <mat-icon> comment</mat-icon>
                <a (click)="onClick(comment)">View Replies  ({{comment.reply}})</a> -->
                <!-- ({{comment.reply.length}}) -->
              <!-- </span> -->
            <!-- <ng-container *ngIf="comment?.visible"> Reply Content -->
              <!-- <div class="commentReply" *ngFor="let rep of comment.reply">
                <img [src]="'https://gordoncollegeweb.com/capAPI/public/'+rep.profilepic_fld" alt="" style="height: 35px; width: 35px; margin-right: 3px; margin-top: 5px; border-radius: 50%; border: 2px solid #878A8C;">
                <span>
                  <a > {{rep.program_fld}} | {{rep.fname_fld}} {{rep.mname_fld}} {{rep.lname_fld}} </a>
                </span>
                <span> at {{rep.created_at|date:'MMM d, y h a'}}</span>
                <div>
                  <p style="background-color: #f5f5f5;">{{rep.replyContent}}</p>
                </div>
              </div>

              <hr> -->

              <!--Form for Reply Content-->
              <!-- <form [formGroup]="replyForm" (ngSubmit)="replyComment(comment)">
              <div class="reply">
                <img [src]="'https://gordoncollegeweb.com/capAPI/public/'+profilepic_fld" alt="" style=" display:flex; height: 30px; width: 30px; margin-right: 3px; border-radius: 50%; border: 2px solid #878A8C;">
                <input type="text" name="" class="form-control" [formControlName]="'replyContent'" placeholder="Write a reply..">
                <button type="submit" >Submit</button>
              </div> -->
            <!-- </form> End of Form for Reply Content -->
          <!-- </ng-container> -->
          <!-- </div> -->
        <!-- </div> -->
          <!-- Outside of Comment Div -->

          <!-- <div class="replies">
            <div class="main">
              <div class="left">
                <button><</button>
                <div>5</div>
                <button>></button>
              </div>
              <div class="right">
                <div class="detail">
                  <span class="user">Ken</span>
                  <span class="date">5 min ago</span>
                </div>
                <div class="comment">
                  <p>hello</p>
                </div>
                <a (click)="replyClick()">reply</a>
                <div class="reply">
                  <img [src]="'https://gordoncollegeweb.com/capAPI/public/'+profilepic_fld" alt="" style=" display:flex; height: 30px; width: 30px; margin-right: 3px; border-radius: 50%; border: 2px solid #878A8C;">
                  <input *ngIf="isEditing"   type="text" name="" class="form-control" [formControlName]="'replyContent'" placeholder="Write a reply..">
                  <button type="submit" >Submit</button>
                </div>
              </div>
            </div>
            <br/> -->
            <!-- PUT REPLIES HERE -->
            <!-- <app-comment *ngFor="let c of comment.comments" [comment]="c"></app-comment> -->
          <!-- </div> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


