@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rubik:wght@400;500&display=swap');

.post{
  --post-line-color: #ccc;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgba(255,255,255,0.8);
  color: #878A8C;
  position: relative;
  border-radius: 4px;
  padding:5px;
}

.btnCommments{
  border-radius: 2px solid;
  color: #0a95ff;
  opacity: 1;
}
button.login{
  background-color: #0a95ff;
  color: #ffffff;
  margin-left:1rem;
  border-radius: 5px;
  border-style: none;
  font-family: 'Rubik', sans-serif;
  width: 100px;
  height: 25px;
}
.button:hover{
  background-color:#1f45ad;
  transition: 0.3s;
}

.btnCommments:hover{
  opacity: 0.65;
  cursor: pointer;
}

.post-title{
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500 ;
  opacity: 1;
  color: black;
}


.subreddit-text{
  font-weight: bold;
}

.post-text{
  margin-top: 10px;
}
