<div class="page">
  <div class="page-box p-3 ">
    <mat-icon>account_circle</mat-icon> Student Profile
  </div>
  <div class="page-content ">
    <div class="container">
      <div class="main-body">

          <!--First Card -->
            <div class="row gutters-sm">
              <div class="col-md-4 mb-3">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">

                      <img [src]="'http://localhost:8000/'+profilepic_fld" style=" width: 100px;
                          height: 100px; margin-top: 13px; border-radius: 50%; border: 2px solid #878A8C;" >
                      <br>
                      <div class="mt-3">
                        <p class="text-secondary mb-2">{{fname_fld}} {{mname_fld}} {{lname_fld}}</p>
                        <hr/>
                        <h4 style="color: #1e293b; font-family: 'Roboto', sans-serif;">{{email_add}}</h4>
                        <h4 style="color: #1e293b; font-family: 'Roboto', sans-serif;">{{dept_fld}} / {{program_fld}}</h4>
                        <hr/>
                        <!-- CREDIT SCORE INTERFACE -->
                      <div class="respect">
                        <h4 style="color: #1e293b; font-family: 'Poppins', sans-serif; font-size: 20px;">Total Credit Score:</h4>
                        <h4 style="color: orange; font-family: 'IBM Plex Sans', sans-serif; font-size: 25px;">{{totalCredits}}</h4>

                      </div>
                      <!-- end respect div -->

                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="card2">
                  <div class="card-body2">
                    <div class="d-flex flex-column align-items-center text-center">
                      <h4>Your badges:</h4>
                      <span class="badge bg-dark m-2"><h1></h1>Dark</span>
                    <mat-chip-list aria-label="Fish selection">

                      <mat-chip class="top-chip" *ngIf="totalCredits >= 300">Notable</mat-chip>
                      <mat-chip class="top-chip" *ngIf="totalCredits >= 200">Popular</mat-chip>
                      <mat-chip class="top-chip" *ngIf="totalCredits >= 150">Relevant</mat-chip>
                      <mat-chip class="dev-chip" *ngIf="totalCredits >= 100">Valuable</mat-chip>
                      <mat-chip class="dev-chip" *ngIf="totalCredits >= 70">Remarkable</mat-chip>
                      <mat-chip class="new-chip" *ngIf="totalCredits >= 50">Rookie</mat-chip>
                      <mat-chip class="new-chip" *ngIf="totalCredits >= 30">Student</mat-chip>
                      <mat-chip class="new-chip" *ngIf="totalCredits < 50">Go and build stuff!</mat-chip>
                    </mat-chip-list>
                  </div>
                  </div>
                </div>

                <!--Second Card -->
              </div>
              <div class="col-md-8">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">

                      <div class="col-sm-3">
                        <h1 style="color: #1e293b; font-family: 'Roboto', sans-serif;" class="mb-0">Full Name</h1>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <p>{{fname_fld}} {{mname_fld}} {{lname_fld}}</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">

                      <div class="col-sm-3">
                        <h1 style="color: #1e293b; font-family: 'Roboto', sans-serif;" class="mb-0">Student Number</h1>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <p>{{studnum_fld}}</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h1 style="color: #1e293b; font-family: 'Roboto', sans-serif;" class="mb-0">Email Address</h1>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{email_add}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h1 style="color: #1e293b; font-family: 'Roboto', sans-serif;" class="mb-0">Department</h1>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{dept_fld}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h1 style="color: #1e293b; font-family: 'Roboto', sans-serif;" class="mb-0">Program</h1>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{program_fld}}
                      </div>
                    </div>

                    <!-- <div class="row">
                      <div class="col-sm-12">
                        <a class="btn btn-info " >Edit</a>
                      </div>
                    </div> -->
                  </div>
                </div>
                <!-- Pwede dagdagan ng extra badges dipende sa trip. -->
                <!-- Pwede taasan yung credit score na required.  -->

                <div class="card3">
                  <div class="card-body3">

                      <h4>Gather required Credit Score to get badges:</h4>
                      <p>+10 credit score per post upvoted!</p>
                      <table>
                        <tr>
                          <th>Requirement</th>
                          <th>Badge</th>

                        </tr>
                        <tr>
                          <td>Gain 300 Credit Score</td>
                          <td><mat-chip class="top-chip">Notable</mat-chip></td>

                        </tr>
                        <tr>
                          <td>Gain 200 Credit Score</td>
                          <td><mat-chip class="top-chip">Popular</mat-chip></td>

                        </tr>
                        <tr>
                          <td>Gain 150 Credit Score</td>
                          <td><mat-chip class="top-chip">Relevant</mat-chip></td>

                        </tr>
                        <tr>
                          <td>Gain 100 Credit Score</td>
                          <td> <mat-chip class="dev-chip">Valuable</mat-chip></td>
                        </tr>
                        <tr>
                          <td>Gain 70 Credit Score</td>
                          <td> <mat-chip class="dev-chip">Remarkable</mat-chip></td>
                        </tr>
                        <tr>
                          <td>Gain 50 Credit Score</td>
                          <td><mat-chip class="new-chip">Rookie</mat-chip></td>
                        </tr>
                        <tr>
                          <td>Gain 30 Credit Score</td>
                          <td><mat-chip class="new-chip">Student</mat-chip></td>
                        </tr>
                      </table>
                  </div>
                </div>
                <!-- End Div card3 -->
              </div>


            </div>

          </div>
      </div>
  </div>
</div>
